.hero-banner.hero-banner-initialized > div:not(.swiper) {
    display: none;
}

.hero-swiper {
    position: relative;
    overflow: hidden;
}
.hero-slide {
    padding: 0 0 47%;
    height: 100px !important;
}
.hero-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 100%;
    padding: 90px 0 180px 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000000;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    font-size: 1.25rem;
    font-weight: 300;
}
.hero-content h3 {
    font-family: var(--font-secondary);
    font-weight: var(--fw-light);
    font-style: italic;
}
.hero-content h2 {
    font-weight: var(--fw-light);
    font-size: 4rem;
}
.hero-content p {
    color: #e0e0e0;
}
.hero-actions {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;
}
.hero-actions .btn {
    min-width: 180px;
}

/*  */

.hero-nav {
    position: absolute;
    bottom: 6rem;
    left: 90px;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 5;
}

/* Arrows */
.hero-prev,
.hero-next {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 2px solid #f5b335;
    background: transparent;
    color: #f5b335;
    font-size: 20px;
    cursor: pointer;
}

/* Numbers */
.hero-numbers {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.hero-num {
    font-weight: 600;
    color: var(--lorange);
    cursor: pointer;
}

.hero-num.active {
    color: var(--white);
}

/* Line */
.hero-line {
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    background: #f5b335;
    width: 0%;
    transition: width 0.4s ease;
}
