.success-stories.success-stories-initialized > :not(.success-stories-runtime) {
    display: none;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.stories-nav button {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.card-img-top {
    object-fit: cover;
    height: 220px;
}
